.bodi {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f1f1;
  margin: 0;
}

h1 {
  text-align: center;
  color: #333;
}

.hdois {
  display: flex;
  align-items: center;
  color: #df003b95;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
margin-bottom: 5px;
}
.iconTop{
  margin-right: 8px;
}

h2 svg {
  margin-right: 10px;
}

.logo-container {
  text-align: center;
  line-height: 0.8;

}

.logo {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 10px;
  font-size: 16px;
}

.jama-text-logo {
  display: block;
  color: #df003b95;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.certificado-text-logo {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 2px solid #b8b8b895;
}

.jama-text {
  display: block;
  color: #df003b95;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.divider {
  width: 100%;
  border-bottom: 2px solid #9e9e9e95;
  margin: 10px 0;
}

.certificado-text {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  padding: 0;

}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}
.card-lista{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 46.5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.icons{
  margin-right: 5px;
  font-size: 16px;
  align-items: center;
}
.primary-butao {
  padding: 10px;
  background-color: #df003b95;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  align-items:center;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 20px;
}

.primary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #df003b95;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  gap: 8px;
  margin-left: 20px;
}

h1 {
  flex: 1;
  text-align: center;
}

.primary-butao-assinar {
  padding: 10px 20px;
  background-color: #00a316;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.primary-butao:hover {
  background-color: #df003b95;
}

.dados {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

strong {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;

}

.hcinco {
  color: #00a316;
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;

}

.alinharBotoes {
  justify-content: center;
  align-items: center;
  display: flex;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Montserrat", sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Montserrat", sans-serif;
}

.cadastro-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fde3ed;
}

.cadastro-box {
  max-width: 400px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cadastro-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.cadastro-input {
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #deb0bf;
  margin-bottom: 10px;
}

.cadastro-submit {
  margin-top: 20px;
  width: 100%;
  background-color: #df003b95;
  border-radius: 30px;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: #ffffff;
}

.cadastro-entrar {
  margin-top: 20px;
  width: 100%;
  border-radius: 30px;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: black;
}


.login-link {
  color: #df003b95;
  text-decoration: none;
  font-weight: bold;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 15px;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

.login-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
 
width: 400px;
  text-align: center;
}

.a {
  color: #df003b95;

}

.login-title {
  color: #df003b95;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.title-nome {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  flex: 1;
}

.login-input {
  border-radius: 30px;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

.login-vai {
  margin-top: 20px;
  width: 100%;
  background-color: #df003b95;
  border-radius: 30px;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: #fff;
}

.register-container {
  margin-top: 15px;
}

.register-link {
  color: #df003b95;
  text-decoration: none;
  font-weight: bold;
}

.dashboard-container {
  background-color: #deb0bf;
  margin: 0;
  padding: 0;
}

.dashboard-content {
  padding: 20px;
}

.login-image {
  width: 100px;
  justify-content: center;
  align-items: center;
}

.cadeado-image {
  width: 50px;
  justify-content: center;
  align-items: center;
}

.cadeado {
  color: #df003b95;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}