body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  display: flex;
  align-items: center;
  color: #DF003C;
}

h2 svg {
  margin-right: 10px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.primary-btn {
  padding: 10px 20px;
  background-color: #DF003C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.primary-btn:hover {
  background-color: #DF003C;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Montserrat", sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Montserrat", sans-serif;
}
